extends /layouts/application.pug
include /board/filter

block board
  +filter
  .d-flex.board.mb-5.pl-2
    each column, index in columns || []
      +column({
        id: column.id,
        name: column.name,
        cards: cards
      }, index)

    .p-1: .column
      .border.p-2
        +formFor(f, {url: 'column', method: 'post'})
          +input(f, 'name', {required: true})
          +button(f, type='submit', 'btn-success')
            | Create column
