extends /layouts/application.pug
include /board/filter

block board
  +filter
  .container.mb-5.pb-5.pl-2
    .row
      each column, index in columns || []
        +column({
          id: column.id,
          name: column.name,
          cards: cards
        }, index)

      .col.p-1
        .border.p-2
          +formFor(f, {url: 'columns', method: 'post'})
            +input(f, 'name', {required: true})(placeholder='Column name')
            +button(f, type='submit', 'btn-success')
              | Create column
